:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --accent-color: #909090;
    --title-text-color: #000000;
    --bg-section-color: rgb(247, 247, 247);
    --bg-main-color: #b0cde6;
    --bg-pink-color: #ffdad1;
    --bg-orange-color: #fff3c9;
    --bg-blue-color: #d6ecff;
    --border-title-color: #0c81f6;
    --mob-menu-color: #222e70;
}
