<section id="about" class="about section">
  <div class="about__info_left" data-aos="fade-right">
    <div class="about__info_left-content">
      <h2 class="about__title section__title">
        dmg <span>(Direct marketing group)</span>
      </h2>
      <p class="about__text">
        Ми – маркетингове агентство, що надає послуги з директ-маркетингу. Наша
        цільова аудиторія – вагітні та мами з дітками до 3х років.
      </p>
      <p class="about__text">
        Натхненником та генератором ідеї створення агентства була компанія
        дитячого харчування, яка хотіла спілкуватися зі споживачем
        безпосередньо, і саме тому вона створила повний комплекс комунікації з
        жінкою в один із найцікавіших періодів її життя.
      </p>
      <div class="about__btn_wrap">
        <button class="about__btn btn" data-action="open-modal">
          Детальніше
        </button>
      </div>
    </div>
  </div>
  <div class="about__info_right">
    <img class="about__img" src="./img/pic-litel-info.jpg" alt="litle info" />
  </div>
  <div class="backdrop js-backdrop">
    <div class="modal">
      <h2>DMG (Direct marketing group)</h2>
      <p>
        Ми – маркетингове агентство, що надає послуги з директ-маркетингу. Наша
        цільова аудиторія – вагітні та мами з дітками до 3х років. Натхненником
        та генератором ідеї створення агентства була компанія дитячого
        харчування, яка хотіла спілкуватися зі споживачем безпосередньо, і саме
        тому вона створила повний комплекс комунікації з жінкою в один із
        найцікавіших періодів її життя. Свою діяльність ми будуємо на
        унікальній, живій, власній базі даних, інформацію для якої нам з радістю
        надають задоволені матусі. Якщо Ви хочете тісно контактувати з вагітними
        та матусями з дітками, ми із задоволенням допоможемо Вам у цьому та
        станемо для Вас надійним партнером.
      </p>
      <button type="button" class="btn" data-action="close-modal">Close</button>
    </div>
  </div>
</section>
