<div class="backdrop">
  <div class="modal" id="modal-about">
    <h2>DMG (Direct marketing group)</h2>
    <div class="modal-container">
      <div class="about__modal">
        <div class="about__info_right">
          <img
            class="about__img"
            src="./img/pic-litel-info.jpg"
            alt="litle info"
          />
        </div>
        <div class="about__modal-content">
          <p>
            Ми – маркетингове агентство, що надає послуги з директ-маркетингу.
            Наша цільова аудиторія – вагітні та мами з дітками до 3х років.
          </p>
          <p>
            Натхненником та генератором ідеї створення агентства була компанія
            дитячого харчування, яка хотіла спілкуватися зі споживачем
            безпосередньо, і саме тому вона створила повний комплекс комунікації
            з жінкою в один із найцікавіших періодів її життя.
          </p>
          <p>
            Свою діяльність ми будуємо на унікальній, живій, власній базі даних,
            інформацію для якої нам з радістю надають задоволені матусі.
          </p>
          <p>
            Якщо Ви хочете тісно контактувати з вагітними та матусями з дітками,
            ми із задоволенням допоможемо Вам у цьому та станемо для Вас
            надійним партнером.
          </p>
        </div>
      </div>
    </div>
    <button
      type="button"
      class="btn"
      data-action="close-modal"
      data-id="modal-about"
    >
      Close
    </button>
  </div>
</div>
