<footer>
  <div class="container">
    <div class="footer__nav">
      <ul class="footer__nav-list list">
        <li class="footer__nav-item">
          <a href="#about" class="header-nav__link link">Про нас</a>
        </li>
        <li class="footer__nav-item">
          <a href="#our-team" class="header-nav__link link">Наша команда</a>
        </li>
        <li class="footer__nav-item">
          <a href="#services" class="header-nav__link link">Послуги</a>
        </li>
        <li class="footer__nav-item">
          <a href="#our-partner" class="header-nav__link link">Наші партнери</a>
        </li>
        <li class="footer__nav-item">
          <a href="#our-works" class="header-nav__link link">Наші роботи</a>
        </li>
        <li class="footer__nav-item">
          <a href="#contact" class="header-nav__link link">Контакти</a>
        </li>
      </ul>
      <ul class="soc__list list">
        <li class="soc__item">
          <a
            class="soc__link link"
            href="https://www.instagram.com/iq_mama_club/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="soc-icon" width="20" height="20">
              <use href="./img/soc/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="soc__item">
          <a
            class="soc__link link"
            href="https://m.facebook.com/IQ-mama-club-335960046776968/"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="soc-icon" width="20" height="20">
              <use href="./img/soc/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__copy">
    <p>&copy; All rights reserved 2024</p>
    <a href="#" class="footer__logo"
      ><img src="./img/logo.png" alt="site logo"
    /></a>
  </div>
</footer>
