<header class="header">
  <div class="container">
    <nav class="header-nav">
      <ul class="header-nav__list left list">
        <li class="header__item">
          <a data-goto="#about" href="#about" class="header-nav__link link"
            >Про нас</a
          >
        </li>
        <li class="header__item">
          <a
            data-goto="#our-team"
            href="#our-team"
            class="header-nav__link link"
            >Наша команда</a
          >
        </li>
        <li class="header__item">
          <a
            data-goto="#services"
            href="#services"
            class="header-nav__link link"
            >Послуги</a
          >
        </li>
      </ul>
      <a href="#" class="header-logo"
        ><img src="./img/logo.png" alt="site logo"
      /></a>
      <ul class="header-nav__list right list">
        <li class="header__item">
          <a
            data-goto=".partners"
            href="#our-partner"
            class="header-nav__link link"
            >Наші партнери</a
          >
        </li>
        <li class="header__item">
          <a
            data-goto=".portfolio"
            href="#our-works"
            class="header-nav__link link"
            >Наші роботи</a
          >
        </li>
        <li class="header__item">
          <a data-goto=".contacts" href="#contact" class="header-nav__link link"
            >Контакти</a
          >
        </li>
      </ul>
      <button class="menu-open" type="button">
        <svg width="40" height="40">
          <use href="./img/soc/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
  <div class="mob-menu is-hidden">
    <div class="container">
      <button class="menu-close">X</button>
      <nav class="mob-menu__nav">
        <ul class="mob-menu__list list">
          <li class="mob-menu__item">
            <a data-goto="#about" href="#about" class="mob-menu__link link"
              >Про нас</a
            >
          </li>
          <li class="mob-menu__item">
            <a
              href="#our-team"
              data-goto="#our-team"
              class="mob-menu__link link"
              >Наша команда</a
            >
          </li>
          <li class="mob-menu__item">
            <a
              href="#services"
              data-goto="#services"
              class="mob-menu__link link"
              >Послуги</a
            >
          </li>
          <li class="mob-menu__item">
            <a
              href="#our-partner"
              data-goto="#our-partner"
              class="mob-menu__link link"
              >Наші партнери</a
            >
          </li>
          <li class="mob-menu__item">
            <a
              href="#our-works"
              data-goto="#our-works"
              class="mob-menu__link link"
              >Наші роботи</a
            >
          </li>
          <li class="mob-menu__item">
            <a href="#contact" data-goto="#contact" class="mob-menu__link link"
              >Контакти</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
