<section id="services" class="services section">
  <div class="container">
    <h2 class="section__title">Послуги</h2>
    <ul class="services__list list">
      <li class="servises__item">
        <button
          class="servises__logo"
          data-action="open-modal"
          data-id="modal-services"
        >
          <img
            src="./img/services/services-midel-pic.png"
            alt="iq_mama_club_pic"
          />
        </button>
      </li>
      <li class="servises__item">
        <a href="#">
          <img src="./img/services/services7.png" alt="Medical promotion" />
          <p>Medical promotion</p>
        </a>
      </li>
      <li class="servises__item">
        <a href="#">
          <img src="./img/services/services6.png" alt="Call centers" />
          <p>Call centers</p>
        </a>
      </li>
      <li class="servises__item">
        <a href="#">
          <img
            src="./img//services/services4.png"
            alt="Event «IQ mama Meeting»"
          />
          <p>Event «IQ mama Meeting»</p>
        </a>
      </li>
      <li class="servises__item">
        <a href="#">
          <img
            src="./img/services/services3.png"
            alt="Personal communication"
          />
          <p>Personal communication</p>
        </a>
      </li>
      <li class="servises__item">
        <a href="#">
          <img src="./img/services/services1.png" alt="Pregnancy marketing" />
          <p>Pregnancy marketing</p>
        </a>
      </li>
      <li class="servises__item">
        <a href="#">
          <img src="./img//services/services2.png" alt="New born marketing" />
          <p>New born marketing</p>
        </a>
      </li>
      <li class="servises__item">
        <a href="#">
          <img src="./img//services/services5.png" alt="Mom`s library" />
          <p>Mom`s library</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="backdrop">
    <div class="modal modal__service" id="modal-services">
      <h2>Про проект IQ mama Club:</h2>
      <div class="modal-container">
        <img src="/src/images/logo_iq.jpg" alt="iq_mama_club_pic" />
        <p>
          IQ mama club – освітній проект компанії DMG, який допомагає
          спілкуватись з вагітними та вже народившими матусями на прямую,
          огортаючи при цьому їх увагою та турботою. IQ mama Club – надійний
          друг і помічник для мами, що йде з нею в ногу, починаючи з періоду
          становлення на облік до жіночої консультації та закінчуючи періодом,
          коли малюкові виповнюється 3 роки. Наші можливості дозволяють
          урізноманітнити контакт з мамою, що робить процес комунікації легше.
          Саме тому ми можемо гарантувати партнерам точність та ефективність
          повторних контактів із конкретною мамою. Задоволені мами – задоволені
          клієнти – задоволені ми.
        </p>
        <button
          type="button"
          class="btn"
          data-action="close-modal"
          data-id="modal-services"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</section>
