<section id="our-team" class="teams section">
  <div class="container">
    <h2 class="section__title">Наша команда</h2>
    <ul class="teams__list list">
      <li class="teams__item">
        <img
          src="./img/team/Волкова-Марина.png"
          alt="Волкова Маріна"
          class="teams__img"
        />
        <h3 class="title">Волкова Маріна</h3>
        <p>Засновник компанії</p>
      </li>
      <li class="teams__item">
        <img
          src="./img/team/Тетерина-Анастасия.png"
          alt="Тетерина Анастасія"
          class="teams__img"
        />
        <h3 class="title">Тетерина Анастасія</h3>
        <p>Регіональний менеджер, лікар – неонатолог (м. Харків)</p>
      </li>
      <li class="teams__item">
        <img
          src="./img/team/Надя-Моторная-2.png"
          alt="Надія Моторна"
          class="teams__img"
        />
        <h3 class="title">Надія Моторна</h3>
        <p>Регіональний менеджер, сімейний лікар (м. Одеса)</p>
      </li>
      <li class="teams__item">
        <img
          src="./img/team/Оксана-Митковская.png"
          alt="Оксана Митківська"
          class="teams__img"
        />
        <h3 class="title">Оксана Митківська</h3>
        <p>Керівник відділу продажу</p>
      </li>
      <li class="teams__item">
        <img
          src="./img/team/Оля-Кулиш-1.png"
          alt="Оля Куліш"
          class="teams__img"
        />
        <h3 class="title">Оля Куліш</h3>
        <p></p>
      </li>
    </ul>
  </div>
</section>
