body.show-modal .backdrop.active {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

body.show-modal .backdrop.active .modal {
    transform: scale(1);
}

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 800;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 300ms ease-in-out,
        visibility 300ms ease-in-out;
}

.modal {
    padding: 24px;
    border-radius: 4px;
    max-width: 1420px;
    width: 100%;
    min-height: 320px;
    background-color: #fff;
    text-align: center;
    transform: scale(1.1);
    transition: transform 300ms ease-in-out;

    &__service {
        max-width: 680px;
        // text-align: center;
    }
    // & > img {
    //     margin: 0 auto;
    //     max-width: 480px;
    // }
    // & > p {
    //     padding: 30px;
    //     text-align: justify;
    //     text-indent: 1.5em;
    // }
}

.modal-container {
    display: flex;
    flex-direction: column;
    gap: 20;
    padding: 40px;
}
