.about {
    padding-top: 60px;
    padding-bottom: 70px;

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 30;
    }

    &__info_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 15px;
        @include desktop {
            max-width: calc(40% - 15px);
        }
    }

    &__info_left-content {
        max-width: 440px;
        margin: 0 auto;
        @include tablet {
            max-width: 738px;
        }
        @include desktop {
            max-width: 385px;
        }
    }

    &__title {
        text-align: center;
        font-size: 40px;
        margin-bottom: 57px;
        padding-bottom: 0;
        text-transform: uppercase;
        position: relative;

        & span {
            display: block;
            margin: auto;
            font-size: 26px;
            text-transform: none;
            padding-top: 10px;
            letter-spacing: 1.3px;
        }
        &::before {
            content: "";
            position: absolute;
            width: 200px;
            height: 3px;
            border-bottom: 3px solid var(--border-title-color);
            left: 50%;
            -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            bottom: -24px;
        }
    }

    &__text {
        margin-bottom: 20px;
    }

    &__btn_wrap {
        text-align: center;
        margin-top: 20px;
    }

    &__info_right {
        display: none;

        @include tablet {
            display: block;
        }
        position: relative;

        width: 100%;
        padding: 15px;
        &::before {
            content: "";
            position: absolute;

            left: 20px;
            top: 20px;
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            border: 7px solid rgba(255, 255, 255, 0.5);
        }

        @include desktop {
            width: calc(60% - 15px);
        }
    }

    &__img {
        width: 100%;
    }
}
